


{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content  %}
<div class="max-w-lg mx-auto">

    <a class="hover:blue-600" href="/leads">Back to List</a>
    <hr>
    <div class="py-5 border-t border-gray-200">
        <p class="text-4xl text-gray-800">Assign this lead to an agent</p>
    </div>

    <form method="POST" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full text-white bg-blue-500 hover:blue-600 px-3 py-1 rounded-md" type="submit">Submit</button>

    </form>
</div>
{% endblock content  %}


